.chamada  {
    background-image: url(../img/background.jfif);
    background-size: cover;
    background-position: center;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: calc(100vw - 12px);
    justify-content: center;
}

.chamada p {
    margin-bottom: 10px;
}

.chamada__titulo {
    display: flex;
    flex-direction: column;
    font-family: var(--montserrat);
    font-size: 3.5rem;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
    gap: 20px;
}

.chamada__texto {
    font-size: 1.3em;
}

.titulo__negrito {
    font-weight: 700;
}

.chamada__titulo,
.titulo__negrito {
    line-height: 38px;
}