.container-modal {
  background: rgba(0, 0, 0, .3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 20000;
  height: 100vh;
  width: 100vw;
}

.modal {
  background: var(--cinza-medio);
  display: flex;
  flex-direction: row;
  width: 90%;
  min-width: 300px;
}

.modal-img {
  height: auto;
  width: 100%;
}

.modal-img img {
  width: 100%;
}

.modal-profile img{
  height: 40px;
  margin: 0 15px;
  width: 40px;
  border-radius: 50%;
}

.modal-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0 75px;
}

.modal-descricao {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: auto;
}

.modal-stacks {
  margin: 0 auto;
  margin-bottom: 10px;
}

.stacks {
  background: var(--card-skills);
  border-radius: 5px;
  color: #999;
  gap: 20px;
  padding: 0 10px;
  width: auto;
}

.modal-text-descricao {
  text-align: justify;
  padding: 15px;
}

.fechar {
  background: red;
  position: absolute;
  right: 85px;
  top: 95px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.btn-fechar {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}