.rodape {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-rodape);

  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.contato {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 30vw;
  position: relative;
}

.contato_texto {
  color: var(--branco);
  font-size: 1.5em;
}

.contato .contato_links .social-icons li {
  align-items: center;
  color: var(--branco);
  display: flex;
  font-size: 1em;
  margin: 15px 0;
}

.contato .contato_links .social-icons .icon__footer {
  color: var(--branco);
  font-size: 2em;
  margin-right: 10px;
  transition: 1s;
}
.contato .contato_links .social-icons li:hover .icon__footer {
  transform: rotate(360deg);
}

.copyright {
  position: absolute;
  color: var(--fonte-cinza);
  bottom: 0;
  left: 35%;
  font-size: .8em;
}

@media screen and (min-width: 1024px) {
  .rodape {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rodape__navegacao {
    text-align: left;

    min-width: 600px;
  }
}