.container__skills {
  height: 60vh;
  position: relative;
}

.container__box {
  display: flex;
  justify-content: center;
  gap: 100px;
  height: 50%;
  width: 100%;
  margin-top: 5em;
}

.container__skills--titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 2em 11em 0 0;
}

.container__what-i-do {
  font-weight: 700;
  color: var(--cinza-claro);
  margin-bottom: 10px;
}

.container__what-i-do--ingles {
  font-size: 28px;
}

.border-bottom {
  border-bottom: 1px solid var(--cinza-claro);
  margin-top: 10px;
  width: 50px;
}

.container__skills-cards {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  height: 100%;
  width: 15%;
  margin: auto 0;

}

.container__card {
  display: flex;
  flex-direction: column;
  
}

.container__skill-img {
  width: 45%;
  height: 45%;
  margin: auto;
  padding-top: 3em;
}

.container__skill {
  text-align: center;
  font-size: 18px;
  color: var(--branco)
}