.container_sobre-mim {
  width: 74%;
}

.container_card {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* z-index: -1; */
}

.container_card .card {
  position: relative;
  width: 20vw;
  height: 400px;
  background: var(--card-skills);
  border-radius: 20px;
  overflow: hidden;
}

.container_card .card:hover .imgBx {
  transform: translateY(30px) scale(0.5);
}

.container_card .card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: 100000;
  border-radius: 20px;
  transform-origin: top;
  overflow: hidden;
}

.container_card .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_card .card .content {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  transform: translateY(100%);
  transition: 0.5s;
}

.container_card .card:hover .content {
  transform: translateY(0);
}

.container_card .card .content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 25px;
  padding-bottom: 30px;
  gap: 8px;
}

.container_card .card .content .detail h2 {
  color: var(--branco);
  font-size: 1.3em;
  font-weight: 500;
}

.container_card .card .content .detail h2 span {
  font-size: 0.8em;
  font-weight: 400;
  color: var(--cinza-claro);
}

.container_card .card .content .social-icons {
  position: relative;
  display: flex;
  margin-top: 5px;
}

.container_card .card .content .social-icons li {
  list-style: none;
  margin: 4px;
}

.container_card .card .content .social-icons li a {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cinza-escuro);
  border-radius: 50%;
  font-size: 1.5em;
  color: var(--branco);
  transition: 1s;
}

.container_card .card .content .social-icons li a:hover {
  transform: rotate(360deg);
}

.container_sobre-mim {
  display: flex;
  justify-content: space-between;
  padding: 60px 220px;
}

.content_sobre-mim {
  width: 60%;
}

.container_sobre-mim__titulo {
  color: var(--branco);
  margin-bottom: 10px;
}

.content_sobre-mim .container_sobre-mim__box .container_sobre-mim__subTitulo {
  font-size: 28px;
}

.border-bottom {
  width: 153px;
  margin-top: 8px;
  border-bottom: 2px solid #FFF;
}

.container_sobre-mim__texto .about-me {
  color: var(--cinza-claro);
  margin: 3em auto;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: justify;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #363636;
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}